* {
  font-family: Tahoma;
}

html {
  height: 99%;
  width: 99%;
  margin: auto;
}

body {
  height: inherit;
  width: inherit;
  background-color: white;
  background-image: url(img/cartographerb.png);
}

#sitio {
  height: inherit;
  width: inherit;
  display: grid;
  grid-template-areas:
    'tt mp mp mp mp mp mp mp mp'
    'sb mp mp mp mp mp mp mp mp'
    'sb mp mp mp mp mp mp mp mp'
    'sb mp mp mp mp mp mp mp mp'
    'sb mp mp mp mp mp mp mp mp'
    'sb mp mp mp mp mp mp mp mp'
    'sb mp mp mp mp mp mp mp mp'
    'sb mp mp mp mp mp mp mp mp'
    'sb mp mp mp mp mp mp mp mp'
    'sb mp mp mp mp mp mp mp mp'
    'x x x x x x x x x';
}

#encabezado {
  grid-area: tt;
  background-color: rgba(255, 37, 99, 0.7);
}

#barraLateral {
  grid-area: sb;
  display: flex;
  flex-direction: column;
  
}

#direcciones {
    height: 4%;
    font-size: 80%;
    background-color: #eee;
    border: 1px solid white;
/*    padding: 5px;
*/    margin: 0;
}

#barraLateral input[type=text] {
  height: 4%;
  background-color: #eee;
  border: 1px solid white;
}

#barraLateral input[type=submit] {
  height: 4%;
  color: white;
  cursor: pointer;
  background-color: #fc594f;
  border: 1px solid #A7A37E;
}

#barraLateral input[type=submit]:hover {
  background-color: #FF2C0D;
}

#map {
  grid-area: mp;
}

#tips {
  text-align: center;
  color: white;
  font-size: 12px;
  margin: auto;
}

#logo {
  display: block;
  margin: auto;
  height: 3rem;
}