* {
  font-family: Tahoma;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: inherit;
  width: inherit;
  background-color: white;
  background-image: url(img/cartographerb.png);
  padding: 0;
  margin: 0;
  border: 0;
}

#sitio {
  height: inherit;
  width: inherit;
  display: grid;
  grid-template: repeat(20, 5%) / repeat(20, 5%);
  justify-content: stretch;
  align-content: stretch;
}

#encabezado {
  grid-column: 1 / 21;
  grid-row: 1 / 2;
  background-color: rgba(0, 37, 99, 0.7);
}

#logo {
  display: block;
  margin: auto auto;
  height: 100%;
}

#tips {
  text-align: center;
  color: white;
  font-size: 12px;
}

#barraLateral {
  grid-column: 1 / 6;
  grid-row: 2 / 20;

  display: grid; 
  grid-auto-rows: 4%;
  grid-template-columns: 5% 95%;
}

#boton {
  grid-column: 1 / 6;
  grid-row: 20 / 21;
}

#barraLateral input[type=text] {
  grid-column: 2 / 3;
 
  background-color: #eee;
  border: 1px solid white;
  border-bottom-color: #FF2C0D;
}

#boton input[type=submit] {
  height: 100%;
  width: 100%;
  color: white;
  cursor: pointer;
  background-color: #fc4f4f;
  border: 0px;
}

#boton input[type=submit]:hover {
  background-color: #FF2C0D;
}

#letras {
  grid-column: 0 / 2;
  
  color: #FF2C0D;
  background-color: #eee;
  margin: auto;
  padding: auto;
}

#map {
  grid-column: 6 / 21;
  grid-row: 2 / 21;
  background-color: #eee;
  border: 0px;
  z-index: 2;
}